<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='description' content='Warhammer 40k lorem ipsum generator' />
  <title>Leman Ipsum</title>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= css :app %>
  <link href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet' />
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
</head>
<body>
  <header>
    <h1>Leman Ipsum</h1>
    <p>Warhammer 40k lorem ipsum generator</p>
  </header>

  <textarea rows='12'>
Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.


Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.


Fusce a metus eu diam varius congue nec nec sapien. Vestibulum orci tortor, sollicitudin ac euismod non, placerat ac augue. Nunc convallis accumsan justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</textarea>

  <div class='generator-controls'>
    <label class='output-size'>
      Number of paragraphs
      <input type='number' min='1' value='3' />
    </label>

    <label class='output-format'>
      Format
      <span>
        <select name='output-format'>
          <option value='plain-text'>Plain text</option>
          <option value='html'>HTML</option>
        </select>
      </span>
    </label>

    <button class='randomize-output' type='button'>Randomize</button>
  </div>

  <%= js :app %>
</body>
</html>
