<!DOCTYPE html>
<html data-ng-app='app' lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='description' content='Warhammer 40k lorem ipsum generator' />
  <title>Leman Ipsum</title>
  <%= css :app %>
  <% if App.production? %>
    <!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.js"></script><![endif]-->
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js'></script>
    <script src='//cdn.jsdelivr.net/lodash/2.4.1/lodash.min.js'></script>
  <% else %>
    <!--[if lt IE 9]><script src="/js/vendor/html5shiv.js"></script><![endif]-->
    <script src='/js/vendor/jquery/jquery.min.js'></script>
    <script src='/js/vendor/angular/angular.min.js'></script>
    <script src='/js/vendor/lodash/dist/lodash.min.js'></script>
  <% end %>
</head>
<body>
  <header>
    <h1>Leman Ipsum</h1>
    <p>Warhammer 40k lorem ipsum generator</p>
  </header>

  <div data-ng-controller='GeneratorCtrl'>
    <textarea rows='12'>{{proverbs | groupParagraphs | limitTo:options.outputSize | formatParagraphs:{format:options.outputFormat} }}</textarea>

    <div class='generator-controls'>
      <label class='output-size'>
        Number of paragraphs
        <input data-ng-model='options.outputSize' type='number' min='1' />
      </label>

      <label class='output-format'>
        Format

        <span class='skinned-select' data-skinned-select>
          <select data-ng-model='options.outputFormat'>
            <option value='text'>Plain text</option>
            <option value='html'>HTML</option>
          </select>
        </span>
      </label>

      <button class='randomize-output' type='button' data-ng-click='randomizeSelection()'>Randomize</button>
    </div>
  </div>

  <%= js :app %>
</body>
</html>
