@import 'bourbon/bourbon';

$grim: #1E1E20;
$dark: #1A1A1C;

%input {
  border-radius: 0;
  border: 1px solid #111;
  background: $grim;
  font: inherit;
  color: inherit;
  padding: 0.675em;
}

%button {
  box-shadow: 0 1px 1px #333 inset;
  @include linear-gradient(#262629, #1C1C1C);
  border: 1px solid #111;
  border-bottom-color: #000;
  text-shadow: 0 -1px 1px #000;
  padding-left: 2em;
  padding-right: 2em;
}

@include font-face(CaslonAntique, '/fonts/CaslonAntique');

body {
  background: #171719;
  color: #F4F4F4;
  text-shadow: 0 1px #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 85%;
  width: 60em;
  margin: 3em auto 0;
}

a, button {
  cursor: pointer;
}

input, select, button {
  font: inherit;
}

header {
  font-family: 'CaslonAntique', serif;

  h1 {
    line-height: 1;
    margin-bottom: 0;
  }

  p {
    font-size: 135%;
    margin-top: 1ex;
  }
}

header::before {
  content: '';
  background: url('/images/aquila.png') no-repeat;
  width: 150px;
  height: 60px;
  float: right;
}

textarea {
  @extend %input;
  @include box-sizing(border-box);
  outline: 1px solid $dark;
  width: 100%;
  margin: 1em 0;
}

.generator-controls {
  list-style: none;
  font-size: 85%;
  padding: 0;
}

.output-format {
  margin-left: 1em;

  input {
    margin: 0;
    vertical-align: middle;
  }
}

.output-size::after {
  content: '';
  border-left: 1px solid #000;
  border-right: 1px solid $dark;
  height: 1em;
  margin-left: 1em;
}

.output-size input, .output-format select, .randomize-output {
  @extend %input;
}

.output-size input {
  width: 3em;
}

.output-format {
  span {
    @extend %button;
    padding: 0;
    margin-left: 1ex;
    display: inline-block;
    position: relative;
  }

  span::after {
    content: '\25BE';
    margin-top: -0.75em;
    position: absolute;
    right: 1ex;
    top: 50%;
  }

  select {
    @include appearance(none);
    border: none;
    background: none;
    padding: 0.75em 2em 0.75em 0.75em;
    margin: 0;
    position: relative;
    z-index: 1;

    option { background: $grim; }
  }
}

.randomize-output {
  @extend %button;
  float: right;
}
